.auth-box{
  max-width:380px;
  margin:60px auto;
  background:#111;
  padding:24px;
  border-radius:16px;
  box-shadow:0 0 40px #000;
}

.auth-box input{
  width:100%;
  padding:12px;
  margin-bottom:12px;
  border-radius:10px;
  border:none;
  background:#000;
  color:#fff;
}

.auth-box button{
  width:100%;
  padding:12px;
  border:none;
  border-radius:10px;
  background:#8b0000;
  color:#fff;
}