:root {
  --bg: #050505;
  --panel: #0b0b0b;
  --border: #300;
  --accent: crimson;
  --text: #ddd;
}
/* RESET */
*{
    margin: 10x;
    padding: 2px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
  background-size: 75% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 4px;
}
body {
  background: var(--bg);
  color: var(--text);
  font-family: 'Share Tech Mono', monospace;
}
html {
    font-family: open sans,sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}
header{
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
    box-sizing: border-box;
    height: 50px;
    transition: 0.5s;
}
.logo{
  height: 120%;
}
.img_header{
  height: 40px;
}
.header{
    color: rgba(86, 153, 9, 0.799);
}
.main-menu{
    background-image: url(img/Kaori1.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.menu-item{
    margin: 0 1rem;
    font-weight: 300;
    cursor: pointer;
    transition: 0.5s;
    color: rgb(63, 9, 189);

}
.menu-item:hover{
    color: rgb(214, 5, 5);
    background-color: black;
}
.Ingresar{
    padding: 10px 24px;
    border-radius: 30px;
    background-color: var(--main-color) ;
    color: rgba(76, 153, 4, 0.795);
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.Ingresar:hover{
    color: rgb(4, 20, 99);
    background-color: rgb(12, 141, 3);
}
#titulo {
    color: rgb(32, 4, 118);
}
h1{
    margin: 8px;
    font-size: 15px;
    color: rgb(149, 5, 5);
}
h2{
    color: blue;
}
h3{
    color: aliceblue;
}
h4{
    color: red;
}
.img{
    margin-top: auto;
    margin-left: auto;
    width: 200px; 
    height: 300px;
  }
  /*tamaño de imagenes*/
.makal{ 
    display: block;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color: rgba(17, 17, 17, 0.884);
    background-position: center;
    border-radius: 15px;
    padding: 3px 10px;
    margin: 4px 5px;  
    color: #e02c2c;
    text-decoration: none;
  }
.makal:hover { 
    display: block;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 8px;
    padding: 6px 15px;
    margin: 7px 7px;
    color: rgba(47, 224, 80, 0.884);
    text-decoration: none;
  }
.Retorno{
    padding: 10px 24px;
    border-radius: 30px;
    background-color: var(--main-color) ;
    color: rgba(89, 3, 62, 0.795);
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.Retorno:hover{
    color: rgb(130, 3, 3);
    background-color: rgb(23, 3, 104);
}
